.header {
  height: 58px;
  width: 100%;
  padding: 0 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
}

.left-section {
  display: flex;
  align-items: center;
}

.app-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: rgb(0, 130, 216);
  cursor: pointer;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 25px;
}

.newchat-button {
  height: 42px;
  padding: 0 22px;

  border: none;
  border-radius: 8px;

  background-color: rgb(0, 130, 216);
  color: white;

  font-size: 0.95rem;
  font-weight: 500;

  cursor: pointer;
  transition: background-color 0.2s;
}

.newchat-button:hover {
  background-color: rgb(0, 153, 255);
}

.profile-section-header {
  display: flex;
  align-items: center;
  gap: 10px;

  cursor: pointer;
  background-color: white;
}

.profile-pic {
  width: 50px;
  height: 50px;

  border-radius: 50%;
  object-fit: cover;
  background-color: #d9d9d9;
}

.username {
  font-size: 22px;
  font-weight: 500;
  color: #222;

}

.mobile-button {
  display: none;
}



@media (max-width: 768px) {
  .header {
    padding: 0 20px;
    justify-content: center;
  }

  .right-section {
    display: none;
  }

  .mobile-button {
    display: flex;
  }
  .app-title {
    font-size: 35px;
  }

  .newchat-button {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    right: 20px;
    bottom: 76px;

    width: 60px;
    height: 60px;

    padding: 0;
    border-radius: 50%;

    font-size: 2rem;
    font-weight: 300;

    z-index: 1000;

    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  }
}