.landing-container {
  display: flex;
  height: calc(100dvh - 70px);
}

@media (max-width: 768px) {
  .landing-container {
    padding-bottom: 70px;
  }
  .hide-conversations {
    display: none;
  }

  .hide-messages {
    display: none;
  }

  .conversation-display-section,
  .message-display-section {
    width: 100%;
  }
}